.card {

    // .card__body
    position: relative;

    &._dark &__body {
        background: var(--accent-dark);
        color: var(--white);
    }

    &._dark &__li::before {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFF' d='M9.172 18.657a1 1 0 0 1-.707-.293l-5.657-5.657a1 1 0 0 1 1.414-1.414l4.95 4.95L19.778 5.636a1 1 0 0 1 1.414 1.414L9.879 18.364a1 1 0 0 1-.707.293z'/%3E%3C/svg%3E")
        center / contain no-repeat;
    }

    &._dark &__li {
        color: var(--white);
    }

    &._accent-dark &__body {
        background: var(--accent);
        &::before {
            background: var(--accent-dark);
        }
    }

    &._accent-dark &__title {
        color: var(--white);
        font-weight: 700;
        font-size: 2rem;
        padding: 25px 0 8px 0;
        @media(min-width: 360px) {
            font-size: 2.75rem;
        }
        @media(min-width: 700px) {
            padding: 38px 0 8px 0;
        }
        line-height: 100%;

        
    }

    &._accent-dark &__price {
        color: var(--white);
        font-weight: 500;
        font-size: 2.25rem;
        @media(min-width: 360px) {
            font-size: 2.875rem;
        }
        line-height: 120%;
    }

    &._accent-dark &__li {
        color: var(--white);
        &::before {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFF' d='M9.172 18.657a1 1 0 0 1-.707-.293l-5.657-5.657a1 1 0 0 1 1.414-1.414l4.95 4.95L19.778 5.636a1 1 0 0 1 1.414 1.414L9.879 18.364a1 1 0 0 1-.707.293z'/%3E%3C/svg%3E")
            center / contain no-repeat;
        }
    }

    &__body {
        width: 100%; min-height: 100%;
        flex: 1 1 100%;
        position: relative;

        padding: 17px 12px 20px 12px;
        @include _768 {
            padding: 17px 12px 130px 12px;
        }

        box-shadow: 0px 10px 40px rgba(119, 119, 119, 0.08);
        border-radius: 20px;
        
        background: var(--white);

        &::before {
            content: '';
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 17px;
            border-radius: 10px 10px 0 0;
            background: var(--accent);
        }
    }

    // .card__header

    &__header {
        border-bottom: 1px solid var(--gray-light-2);
        padding-left: 10px;
    }

    // .card__intro-title

    &__intro-title {

        padding: 20px 0;
        @include _768 {
            padding: 36px 0;
        }
        
        font-size: 2.5rem;

        @media(min-width: 360px) {
            font-size: 3.25rem;
        }

        @include _768 {
            font-size: 3.875rem;
        }

        line-height: 136%;
        font-weight: 700;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        & b {
            color: var(--accent);
        }

        & sub {
            font-weight: 700;
            font-size: 2.5rem;
            @media(min-width: 360px) {
                font-size: 2.8125rem;
            }
            line-height: 150%;
            letter-spacing: 0.03em;
        }

        & strong {
            font-weight: 700;
            font-size: 5rem;
            @media(min-width: 360px) {
                font-size: 5.9375rem;
            }
            line-height: 89%;
        }

        & span {
            font-weight: 700;
            font-size: 1.25rem;
            @media(min-width: 360px) {
                font-size: 1.625rem;
            }
            line-height: 136%;
        }
    }

    &__number {
        padding-top: 7px;
        color: var(--accent-dark);
        font-weight: 700;

        & strong {
            color: var(--accent);
            text-transform: uppercase;    
        }
    }

    &__title {
        font-weight: 500;
        font-size: 2rem;
        line-height: 120%;
        color: var(--accent-dark);

        padding-top: 4px;
    }

    &__decor-line {
        height: 6px;
        margin: 12px 0;

        background: url("data:image/svg+xml,%3Csvg width='69' height='6' viewBox='0 0 69 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3' cy='3' r='3' fill='%23CCCCCC'/%3E%3Ccircle cx='12' cy='3' r='3' fill='%23CCCCCC'/%3E%3Ccircle cx='21' cy='3' r='3' fill='%23CCCCCC'/%3E%3Ccircle cx='30' cy='3' r='3' fill='%23CCCCCC'/%3E%3Ccircle cx='39' cy='3' r='3' fill='%23CCCCCC'/%3E%3Ccircle cx='48' cy='3' r='3' fill='%23CCCCCC'/%3E%3Ccircle cx='57' cy='3' r='3' fill='%23CCCCCC'/%3E%3Ccircle cx='66' cy='3' r='3' fill='%23CCCCCC'/%3E%3C/svg%3E")
        left center / contain no-repeat;
    }

    &__price {
        font-weight: 500;
        font-size: 1.75rem;
        line-height: 120%;
        color: var(--accent-dark);

        display: block;
        padding-bottom: 10px;
    }

    // .card__list

    &__list {
        padding-top: 15px;
        padding-left: 10px;
        
        display: flex;
        flex-wrap: wrap;

        &--col {
            flex: 1 1 100%;
            @include _768 {
                flex: 0 1 45%;
                &:nth-child(even) {
                    flex: 0 1 55%;
                    padding-left: 10px;
                }
            }
            
        }
    }

    // .card__li

    &__li {
        font-weight: 700;
        line-height: 125%;

        flex: 1 1 100%;

        padding: 11px 0 11px 30px;

        color: var(--accent-dark);

        display: flex;
        align-items: center;

        position: relative;

        &._hover-type {
            transition: color .2s ease-in-out;
            cursor: default;
            &:hover {
                color: var(--accent);
            }
            
        }

        &::before {
            content: '';
            position: absolute;
            left: 0; top: 10px;
            transform: translate(0,0%);
            display: inline-block;
            width: 22px; height: 22px;
            
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23A23834' d='M9.172 18.657a1 1 0 0 1-.707-.293l-5.657-5.657a1 1 0 0 1 1.414-1.414l4.95 4.95L19.778 5.636a1 1 0 0 1 1.414 1.414L9.879 18.364a1 1 0 0 1-.707.293z'/%3E%3C/svg%3E")
            center / contain no-repeat;
        }
    }

    // .card__logo

    &__logo {

        display: none;
        @include _992 {
            display: block;

            z-index: 2;
            position: absolute;
            right: 0; bottom: 0;
        }
        // .card__logo--img

        &--img {
        }
    }
}