
._main-title {
    margin: 0;
    
    font-family: var(--title-font);
    color: var(--accent-dark);
    font-weight: 700;
    font-size: 2.125rem;
    line-height: 120%;

    @include _768 {
        font-size: 3rem;
    }

    @include _992 {
        font-size: 4rem;
    }

    &._dark strong {
        color: var(--dark);
    }

    & strong {
        color: var(--accent);
        position: relative;

        border-bottom: 7px solid var(--aqua);
        @include _768 {
            border-bottom: 15px solid var(--aqua);
        }
    }
}

._title {
    
    font-family: var(--title-font);
    font-weight: 700;
    line-height: 125%;
    font-size: 2rem;
    color: var(--dark);

    & strong {
        color: var(--accent);
    }
    
    @media(min-width: 360px) {
        font-size: 2.8125rem;
    }
}

._section-title {
    margin: 0;
    
    font-family: var(--title-font);
    color: var(--dark);
    font-weight: 700;
    font-size: 2.125rem;
    line-height: 120%;

    @include _768 {
        font-size: 3rem;
    }

    @include _992 {
        font-size: 4rem;
    }

    & strong {
        position: relative;

        border-bottom: 7px solid var(--aqua);
        @include _768 {
            border-bottom: 15px solid var(--aqua);
        }
    }

    &._min {
        font-size: 2.75rem;

        @include _768 {
            font-size: 2.75rem;
        }
    
        @include _992 {
            font-size: 2.75rem;
        }

    }
}

._section-text {
    color: var(--gray);
    font-weight: 400;
    font-size: 1.25rem;
    padding-top: 18px;
    @include _768 {
        padding-top: 23px;
        font-size: 1.875rem;
    }
    line-height: 150%;
    max-width: 733px;
    margin: 0 auto;
    
    & p {
        padding: 7px 0;
    }
}

._article-title {
    font-weight: 700;
    font-size: 2.125rem;
    &._min {
        font-size: 2rem;
        line-height: 140%;
    }
    line-height: 130%;
    color: var(--dark);

    &._light {
        color: var(--white);
    }

    @include _768 {
        font-size: 3rem;

        &._min {
            font-size: 2.25rem;
        }
    }

    & strong {
        position: relative;

        border-bottom: 7px solid var(--aqua);
        @include _768 {
            border-bottom: 10px solid var(--aqua);
        }
    }
}

._txt-center {
    text-align: center;
}
