.uncovering-intro {
    padding: 29px 0;

    @include _768 {
        padding: 65px 0;
    }

    @include _992 {
        padding: 105px 0 81px 0;
    }
    // .uncovering-intro__container

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        flex-direction: column;

        @include _992 {
            flex-direction: row;
        }
    }

    // .uncovering-intro__info

    &__info {
        flex: 0 1 55%;

        display: flex;
        flex-direction: column;
        align-items: center;

        @include _992 {
            display: block;
        }
    }

    // .uncovering-intro__main-title

    &__main-title {
        text-align: center;
        @include _992 {
            text-align: left;
        }
    }

    // .uncovering-intro__text

    &__text {
        padding-top: 30px; padding-right: 0px;

        text-align: center;
        @include _992 {
            text-align: left;
            padding-right: 50px;
        }
        
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 150%;

        color: var(--gray);

        & strong {
            font-weight: 700;
            color: var(--dark);
        }
    }

    // .uncovering-intro__btn

    &__btn {
        margin-top: 30px;
    }

    // .uncovering-intro__image

    &__image {
        position: relative;
        flex: 0 1 40%;

        text-align: center;
        padding-top: 55px;
        @include _992 {
            text-align: left;
            padding-top: 0;
        }
        // .uncovering-intro__image--img

        &--img {
            position: relative;
            right: 0; top: 0;
            z-index: -1;

            @include _992 {
                position: absolute;
                transform: translate(11%,-8%);
            }
        }
    }
}

