.services {

    // .uncovering-services__container

    &__container {
        
        @include _992 {
            margin-bottom: -85px;
        }
    }

    // .uncovering-services__section-title

    &__section-title {
    }

    // .uncovering-services__article

    &__article {
        position: relative;

        padding: 50px 0;
        @include _992 {
            padding: 85px 0;
        }

        &._rev &--info {
            justify-self: end;
        }

        &._rev &--image {
            justify-self: start;

            @include _992 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &._rev &--img {
            @include _992 {
                transform: translate(0%,0);
            }
        }

        &._info-large &--info {
            @include _992 {
                max-width: 54%;
            }
        }

        &--bg {
            position: absolute;
            left: 50%; top: 0;
            transform: translate(-50%,0);

            @include _992 {
                min-width: 1440px;
                height: 112%;
            }
            
            width: 100%; height: 55%;

            &._alt {
                display: flex;
                align-items: center;

                & picture {
                    width: 100%;
                }
            }

            &._alt &-img {
                height: auto;
            }

            z-index: -1;

            &-img {
                width: 100%; height: 100%;
            }
        }

        &--container {
            
            display: flex;
            flex-direction: column;
            align-items: center;

            @include _992 {
                display: grid;
                grid-template-columns: 100%;
            }

            & > * {
                @include _992 {
                    align-self: center;
                }
            }

            position: relative;
        }
        // .uncovering-services__article--info

        &--info {
            position: relative;
            z-index: 2;

            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            
            @include _992 {
                display: block;
                text-align: left;

                grid-area: 1/1;

                max-width: 44%;
            }
        }

        // .uncovering-services__article--title

        &--title {
            line-height: 150%;
        }

        // .uncovering-services__article--text

        &--text {
            padding-top: 30px;

            font-size: 1.125rem;
            line-height: 150%;
            color: var(--gray);

        }
        
        &--list {
            margin-top: 23px;

        }

        &--li {
            padding: 7px 0;

            font-weight: 500;
            font-size: 1.25rem;
            line-height: 150%;
            color: var(--gray);

            display: flex;
            align-items: flex-start;

            text-align: left;

            &::before {
                content: '\e900';

                font-family: 'investae-icons' !important;
                speak: never;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;

                padding-right: 20px; padding-top: 5px;
                color: var(--accent);

                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }

        // .services__article--steps

        &--steps {
            padding-top: 26px;

            display: flex;
            flex-wrap: wrap;

            margin: -16px 0;

            @media(min-width: 400px) {
                padding-top: 16px;
                margin: -8px -22px;
            }

            counter-reset: steps-item;
        }

        // .services__article--steps-item

        &--steps-item {
            flex: 1 1 100%;
            text-align: left;

            padding: 16px 0;
            @media(min-width: 400px) {
                text-align: center;
                flex: 0 1 50%;

                padding: 8px 22px;
            }

            @include _992 {
                text-align: left;
            }
            
        }

        &:nth-child(-n + 9) &--steps-number::before {
            content: "0"counter(steps-item);
        }

        // .services__article--steps-number

        &--steps-number {
            &::before {
                counter-increment: steps-item;
                content: counter(steps-item);

                color: var(--accent);
                font-size: 2.125rem;
                font-weight: 700;

                padding-bottom: 3px;
            }
        }

        // .services__article--steps-text

        &--steps-text {
            font-weight: 500;
            font-size: 1.125rem;
            line-height: 120%;
            color: var(--accent-dark);
        }

        // .uncovering-services__article--btn

        &--btn {
            margin-top: 30px;
        }

        // .uncovering-services__article--image

        &--image {
            grid-area: 1/1;

            text-align: center;
            //order: 3;

            padding-top: 43px;
            @include _992 {
                text-align: right;
                padding-top: 0;
                //order: inherit;
            }

            &-text {
                padding-top: 25px;

                text-align: left;
                
                @include _992 {
                    padding-top: 53px;
                    max-width: 40%;
                }

                font-size: 1.125rem;
                line-height: 180%;
                color: var(--gray);
            }
        }

        // .uncovering-services__article--img

        &--img {
            
            @include _992 {
                transform: translate(8%,0);
            }

            max-width: 100%;
            object-fit: contain;

            position: relative;
            z-index: -1;
        }


        &--quote {
            
            padding-top: 50px;
            padding-bottom: 30px;
            @include _992 {
                padding-top: 100px; padding-bottom: 0px;
                
            }
            
            &-body {
                max-width: 1012px;
                margin: 0 auto;

                font-style: italic;

                padding: 40px;

                @include _992 {
                    padding: 40px 150px;
                    
                }
            }
        }
    }
}

